/* common styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
header {
  background-color: #1a0b2e;
}
p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 24px;
  margin: 0;
  opacity: 0.8;
  text-align: left;
}
.display-flex {
  display: flex;
}
.btn {
  color: #ffffff;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border: 1px solid transparent;
  border-radius: 1000px;
  font-size: 1rem;
  font-weight: 600;
  padding: 13px 16px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: rgba(145, 0, 248, 1);
  background: #ffffff;
}

/* navbar section related styles  */
nav {
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0px;
  align-items: center;
}
.nav-logo {
  width: 219px;
  cursor: pointer;
}
.nav-menu {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

/* banner section related styles */
hr {
  height: 1.5px;
  border: none;
  background-color: #412567;
}
.banner-section {
  /* width: 100%; */
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}
.banner-section h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 3.75rem;
  font-weight: 800;
}
.hamburger-menu {
  display: none;
}
.banner-img {
  background-image: url(./assets/hero-circle.png);
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
}
.mic {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 40px 76px 82px;
}
.banner-text {
  margin: 9px 0 23px;
  text-align: center;
}
.banner-btn {
  text-align: center;
}
.btn-2 {
  color: #00ff88;
  background-color: #1a0b2e;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #00ff88;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 101px;
  margin-top: 22px;
}
.btn-2:hover {
  color: #412567;
  background: #00ff88;
  padding: 14px 17px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 100px;
}

/* about-podcast section related styles  */
.about-podcast-section {
  background-color: #1a0b2e;
}
.about-container {
  padding-bottom: 118px;
}
.about-heading {
  max-width: 1320px;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 78px;
  text-align: center;
}
.about-heading h2 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 38px;
  margin-bottom: 15px;
}
.about-text {
  color: #ffffff;
  margin-bottom: 22px;
  line-height: 29px;
  text-align: center;
}
.about-bottom h2 {
  color: #00ff88;
  /* width: 240px;
  height: 58px; */
  font-size: 3rem;
  font-weight: 900;
}
.about-bottom {
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-around;
}
