/* common styles  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
header {
  background-color: #1a0b2e;
}
p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 25px;
  margin: 0;
  opacity: 0.8;
  text-align: left;
}
.display-flex {
  display: flex;
}
.btn {
  color: #ffffff;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  border: 1px solid transparent;
  border-radius: 1000px;
  font-size: 1rem;
  font-weight: 600;
  padding: 13px 16px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: rgba(145, 0, 248, 1);
  background: #ffffff;
}

/* navbar section related styles  */
nav {
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 0px;
  align-items: center;
}
.nav-logo {
  width: 219px;
  cursor: pointer;
}
.nav-menu {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
.nav-item {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

/* banner section related styles */
hr {
  height: 1.5px;
  border: none;
  background-color: #412567;
}
.banner-section {
  /* width: 100%; */
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}
.banner-section h1 {
  color: white;
  text-align: center;
  margin-top: 40px;
  font-size: 3.75rem;
  font-weight: 800;
}
.hamburger-menu {
  display: none;
}
.banner-img {
  background-image: url(./assets/hero-circle.png);
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
}
.badge {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  padding-top: 21px;
  padding-left: 209px;
}
.mic {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 40px 76px 82px;
}
.banner-text {
  margin: 9px 0 23px;
  text-align: center;
}
.banner-btn {
  text-align: center;
}
.btn-2 {
  color: #00ff88;
  background-color: #1a0b2e;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #00ff88;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 101px;
  margin-top: 22px;
}
.btn-2:hover {
  color: #412567;
  background: #00ff88;
  padding: 14px 17px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 100px;
}

/* about-podcast section related styles  */
.about-podcast-section {
  background-color: #1a0b2e;
}
.about-container {
  padding-bottom: 118px;
}
.about-heading {
  max-width: 1320px;
  color: #ffffff;
  margin: 0 auto;
  padding-bottom: 78px;
  text-align: center;
}
.about-heading h2 {
  font-size: 3rem;
  font-weight: bold;
  padding-top: 38px;
  margin-bottom: 15px;
}
.about-text {
  color: #ffffff;
  margin-bottom: 22px;
  line-height: 29px;
  text-align: center;
}
.about-bottom h2 {
  color: #00ff88;
  /* width: 240px;
  height: 58px; */
  font-size: 3rem;
  font-weight: 900;
}
.about-bottom {
  margin: 0 auto;
  max-width: 1320px;
  justify-content: space-around;
}

/* tech-wave section related styles  */
.tech-wave-section {
  background: rgba(35, 14, 61, 1);
  padding: 120px 0px;
}
.tech-wave-heading {
  margin: 0 auto;
  max-width: 1320px;
}
.tech-wave-heading h3 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.tech-wave-cards {
  display: grid;
  margin: 0 auto;
  max-width: 1320px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 38px;
  gap: 30px;
}
.tech-wave-card {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.headphone img,
.device img,
.location img,
.interview img,
.resource img {
  width: 60px;
  margin-bottom: 15px;
}
.headphone {
  background-color: rgba(53, 17, 101, 0.4);
  grid-row: 2 span;
  border-radius: 40px;
  border: none;
  padding: 106px 41px;
}
.headphone p {
  line-height: 28px;
}
.device,
.location,
.interview {
  background-color: rgba(53, 17, 101, 0.4);
  grid-column: 2 span;
  border-radius: 40px;
  border: none;
  padding: 41px;
}
.resorce {
  grid-column: 1 span;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  border: none;
  padding: 41px;
}

/* featured section related styles  */
.featured-section {
  background-color: #1a0b2e;
  padding: 120px 0;
}
.featured-title {
  max-width: 1320px;
  margin: 0 auto;
}
.featured-title h3 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.featured-cards {
  gap: 30px;
  margin-top: 41px;
}
.card {
  width: 580px;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 22px;
}
.card iframe {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card h4 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 23px;
}
.card p {
  margin: 0 25px 13px;
}
.time {
  color: #00ff88;
  padding-bottom: 23px;
}

/* host section related styles  */
.host-title {
  padding-top: 120px;
}
.host-title h3 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.host-img {
  width: 200px;
}
.host-content {
  max-width: 1320px;
  background-color: rgba(53, 17, 101, 0.4);
  align-items: center;
  margin: 36px auto 0px;
  border-radius: 38px;
  padding: 38px;
  border: none;
  gap: 24px;
}
.host-info h5 {
  color: #ffffff;
  font-size: 2 rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.host-info p {
  margin-bottom: 15px;
}
.socials {
  align-items: center;
  gap: 10px;
}
.social-icon {
  border: 1px solid #533c72;
  border-radius: 100%;
}
.social-icon img {
  align-items: center;
  padding: 7.5px 9px;
}

/* footer section related styles  */
.footer-container {
  max-width: 1320px;
  margin: 0 auto;
}
footer {
  background-image: url(./assets/footer-bg.png);
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}
.footer-img {
  text-align: center;
  cursor: pointer;
  margin-bottom: 30px;
}
.footer-img img {
  width: 412px;
}
.footer-links {
  justify-content: center;
  gap: 38px;
}
.footer-links p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.footer-container p {
  text-align: center;
}
